.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;

  & img {
    display: block;
    max-width: 60%;
    max-height: 80%;
    margin: 100px auto;
    background-color: #fff;
    padding: 2px;
  }
}

.modal {
  &__site-content {
    display: block;
    max-width: 60%;
    height: 80%;
    max-height: 80%;
    margin: 100px auto;
    background-color: #fff;
    padding: 2px;
  }
}
