.aboutus {
  & h1 {
    margin-top: 0px !important;
    font-size: 40px;
  }

  &__showcase {
    color: #fff;
    height: 600px;
    background-color: var(--primary-color);
  }

  &__banner {
    height: 600px;
  }

  &__banner-image-wrapper {
    width: 80%;
  }

  &__banner-image-wrapper img {
    object-fit: cover;
    // picture dependant
    object-position: 0% 50%;
    transition: 0.7s ease-in-out;
  }

  &__banner-image-wrapper img:hover {
    transform: scale(1.2);
  }
}

.aboutus .grid {
  grid-template-columns: 1fr;
  gap: 0px;
}

@media (min-width: 990px) {
  .aboutus .grid {
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  .aboutus {
    &__banner-image-wrapper img {
      object-position: 50% 50%;
    }

    &__showcase {
      height: 350px;
    }
  }
}
