// Content
.home-content,
.content {
  margin: 1rem auto;
  width: 80%;
}

@media (min-width: 990px) {
  .content-0 .grid,
  .content-2 .grid {
    grid-template-columns: 2fr 1fr;
  }

  .container {
    max-width: 90%;
    // keep it in the middle
    margin: 0 auto;
  }

  .content-1 .grid {
    grid-template-columns: 1fr 2fr;
    height: 275px;
  }

  .content-1 .content-image-wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .content-1 .content-text-wrapper {
    grid-column: 2;
    grid-row: 1;
  }

  .content-image-wrapper img {
    height: 275px;
    object-fit: fill;
  }
}
