@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Robobo", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  // no bullets for uls
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  // margin top and bottom
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  // ensures img doesnt break out of div
  width: 100%;
}
