@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

// css properties
:root {
  --primary-color: #413c69;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Robobo", sans-serif;
  color: #0e0e0e;
  line-height: 1.6;
}

ul {
  // no bullets for uls
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0e0e0e;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  // margin top and bottom
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  // ensures img doesnt break out of div
  width: 100%;
}

// Nav container
.container {
  max-width: 1100px;
  // keep it in the middle
  margin: 0 auto;
  padding: 0 40px;
}

// Navbar
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: flex-end;
}

.navbar a {
  color: #fff;
  padding: 10px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

// Content
section[class^="content-"] {
  background-color: #a7c5eb;
  max-width: 1100px;
  margin: 5px auto;
  border: 2px #4a47a3 solid;
  border-radius: 5px;
}
// TODO - image has margin bottom - need different colours
// Utility

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  // height whatever the container is
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 275px;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }

  .content-1 .grid {
    grid-template-columns: 1fr 2fr;
  }
  .content-1 .content-image-wrapper {
    grid-column: 1;
    grid-row: 1;
  }

  .content-1 .content-wrapper {
    grid-column: 2;
    grid-row: 1;
  }
}
